In [9]:
import tensorflow as tf
import pandas as pd
import numpy as np

attr = pd.read_csv('../list_attr_celeba.csv')
features = ['image_id', 'Attractive', 'Bangs', 'Black_Hair', 'Blond_Hair', 'Brown_Hair', 'Gray_Hair', 'Male', 'Oval_Face', 'Receding_Hairline', 'Smiling']

attr_selected = attr.loc[:, features]
attr_selected

,image_id,Attractive,Bangs,Black_Hair,Blond_Hair,Brown_Hair,Gray_Hair,Male,Oval_Face,Receding_Hairline,Smiling
0,000001.jpg,1,-1,-1,-1,1,-1,-1,-1,-1,1
1,000002.jpg,-1,-1,-1,-1,1,-1,-1,-1,-1,1
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,-1
3,000004.jpg,1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,000005.jpg,1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,1,-1,-1,1,-1,-1,-1,-1,-1,-1
202595,202596.jpg,-1,1,-1,1,-1,-1,1,-1,-1,1
202596,202597.jpg,-1,-1,1,-1,-1,-1,1,-1,-1,1
202597,202598.jpg,1,-1,1,-1,-1,-1,-1,1,-1,1
202598,202599.jpg,1,-1,-1,1,-1,-1,-1,-1,-1,-1